.navbar.navbar-default.navbar-fixed-top(role="navigation")
	.container.container-fluid
		.navbar-header
			button.navbar-toggle(type="button",data-toggle="collapse",data-target="#example-navbar-collapse")
				span.sr-only 切换菜单
				span.icon-bar
				span.icon-bar
				span.icon-bar
		#example-navbar-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a.glyphicon.glyphicon-home(href="/") 主页
				li
					a(href="#") 排名
				li
					a(href="#") 活动说明
				li
					a(href="#") 友情链接
				li
					a(href="#") 关于我们
